@import '../../scss/variables';

.infoListWrapper {
  padding: 0 25px;

  max-width: 1160px;
  width: 100%;

  position: fixed;
  z-index: 500;
  left: 50%;
  transform: translateX(-50%);
}

.infoList {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  padding: 30px;
  border-radius: 15px;

  .listDivider {
    border-right: 1px solid $secondary;
  }

  li {
    padding: 0 20px;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border: none;
    }

    p {
      margin-bottom: 10px;
      font-size: 0.7em;
      font-weight: 500;
      letter-spacing: 1.5px;
      color: $secondary;
      text-transform: uppercase;
    }

    h2 {
      font-weight: 500;
      letter-spacing: -0.7px;
    }
  }
}
