@import './fonts';
@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  font-size: 18px;
  width: 100%;

  background-image: url('../assets/img/pattern-bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100vw 250px;

  @media (max-width: 425px) {
    font-size: 14px;
  }
}

ul {
  list-style: none;
}

.app-header {
  margin-top: 30px;
  color: white;
  font-size: 1.65em;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}
